{% extends 'base.html' %}
{% block contenido %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Panda Particular Professor</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
        <h1>Classboard</h1>
        <p>lorem ipsum di amet </p>
        
        <script src="" async defer></script>
    </body>
</html>
{% endblock contenido %}